@using ASPMVCBlog.Models
@model List<Post>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">All posts in my blog</h2>


<table class="table">
    <tr>
        <th>
           Title:
        </th>
        <th>
            Author:
        </th>
        <th>
           Published on:
        </th>
        <th></th>
    </tr>

@foreach (var post in Model) {
    <tr onclick="location.href='@Url.Action("ViewPost", "Posts", new { id = post.PostId }, null)'"
        class="viewPost">
        <td>
            @post.PostTitle
        </td>
        <td>
            @if (post.Author.FullName != null)
            {
                <i>@post.Author.FullName (@post.Author.UserName)</i>
            }
            else
            {
                <i>@post.Author.UserName</i>
            }
        </td>
        <td>
            @String.Format("{0:dd-MM-yyyy}",post.PostDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=post.PostId }) |
            @*@Html.ActionLink("View post", "ViewPost", new { id=post.PostId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=post.PostId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
