
@{
    ViewBag.Title = "ViewPost";
}
@using ASPMVCBlog.Models
@using Microsoft.AspNet.Identity;
@model Post

<div class="row">
    <div class="col-md-12">
        <h2>@Model.PostTitle</h2>
        <div>
            Published by
            @if (Model.Author.FullName != null)
            {
                <i>@Model.Author.FullName (@Model.Author.UserName)</i>
            }
            else
            {
                <i>@Model.Author.UserName</i>
            }
            on <i>@String.Format("{0:dd-MM-yyyy}", Model.PostDate)</i>
        </div>
        <p>
            @Html.Raw(Model.PostBody)
        </p>
    </div>
</div>
@if (User.Identity.Name == Model.Author.UserName || User.IsInRole("Administrators"))
{
    <div style="text-align:right">
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) 
    @Html.ActionLink("Delete", "Delete", new { id = Model.PostId })
    </div>
}
<hr style="background-color:black;height:2px" />
<div>
    @if (Model.Comments.Any())
    {
        <h4 style="padding-top:2%">Comments:</h4>
        foreach (Comment comment in Model.Comments)
        {
            
            <div class="viewComment">
               
                <div style="padding-left:2%" >
                    <i>@comment.CommentBody</i>
                   
                </div>
             
                @if (comment.Author != null)
                {
                    if (User.IsInRole("Administrators") || User.Identity.Name == comment.Author.UserName)
                    {
                        <div style="text-align:left;font-size:12px;margin-bottom:-15px;padding-left:2%">
                            @Html.ActionLink("Delete", "DeleteComment", "Comments", new { id = comment.CommentId, PostId = Model.PostId }, null)<i>    </i>
                            @Ajax.ActionLink("Edit","EditComment","Comments",new { id=comment.CommentId,PostId=Model.PostId},
                           new AjaxOptions() { UpdateTargetId = "Display" })
                        </div>
                    }
                }
                
                <div style="text-align:right;font-size:12px">
                    Posted by 
                    @if (comment.Author != null)
                    {
                        <a href=""><i>@comment.Author.UserName</i></a>
                    }
                    else
                    {
                        <strong><i>@comment.AuthorStr</i></strong>
                    }
                    on <strong><i>@String.Format("{0:dd-MM-yyyy}", @comment.CommentDate)</i></strong>
                    at <strong><i>@String.Format("{0:HH:mm}", @comment.CommentDate)</i></strong>
                </div>
            </div>
        }
    }
    else
    {
        <h3 style="text-align:center;padding-top:2%">No comments yet.</h3>
    }
    <div id="Display">

    </div>
    @Ajax.ActionLink("Leave a comment?", "CreateComment", "Comments",new {PostId= Model.PostId },
    new AjaxOptions() { UpdateTargetId = "Display" })
</div>

